@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Quicksand");
body {
  font-size: 16px;
  font-family: 'Quicksand';
  backgroud: #272935; }
  body a {
    color: #999;
    transition: all .5s ease-in-out; }
  body a:hover {
    color: #333; }

.nav {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0; }
  .nav .titulo--nav {
    font-size: 15px; }
  .nav .nav-item a.is-tab:hover,
  .nav a.nav-item.is-tab:hover {
    border-bottom-color: #6a6a6a !important;
    border-top-color: transparent; }
  .nav .nav-item a.is-tab,
  .nav a.nav-item.is-tab {
    border-bottom: 1px solid #eee !important; }

.projetos {
  margin-top: 120px;
  font-family: 'Quicksand'; }
  .projetos .header {
    font-size: 28px;
    color: #333; }
  .projetos .header--profissao {
    margin-top: 0px;
    font-size: 20px;
    color: #6a6a6a;
    font-weight: 500; }
  .projetos .header--descricao {
    margin-top: 10px;
    font-size: 16px;
    color: #999;
    font-weight: 300; }
  .projetos .header--projeto {
    margin-top: 40px;
    font-size: 28px;
    color: #6a6a6a; }
  .projetos .projetos__imagem img {
    margin: 15px 15px 0 15px;
    height: 346px;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease;
    white-space: nowrap; }
  .projetos .projetos__imagem img:hover {
    cursor: pointer;
    border-bottom: 1px solid #999; }

.projetos--link {
  color: #6a6a6a;
  transition: all .5s ease-in-out; }

.projetos__pagina {
  transition: all 1s ease-in-out; }

.projetos--link:hover {
  color: #BFD9DC; }

.projetos__pagina--lista ul {
  position: absolute; }
.projetos__pagina--lista li {
  display: inline;
  padding-right: 20px;
  float: left;
  cursor: pointer;
  color: #999;
  bottom: 0; }

.btn {
  margin-bottom: 30px;
  margin-top: 40px;
  margin-right: 5px;
  margin-left: 2px;
  width: 120px;
  height: 45px;
  background: none;
  border: none;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.36);
  color: #999;
  font-size: 13.8px;
  text-transform: uppercase;
  transition: all .3s ease-in-out; }
  .btn:hover {
    cursor: pointer;
    background: #555 !important;
    color: #fff !important; }
  .btn:focus {
    outline: #333; }

.btn--ativo {
  background: #555 !important;
  color: #fff !important; }

@media screen and (max-width: 550px) {
  img {
    max-width: 100% !important;
    height: auto !important;
    align: center !important;
    display: block !important;
    margin: 0; } }
.cases {
  display: inline-block;
  text-align: left; }
  .cases h1 {
    font-size: 30px;
    font-weight: bold;
    color: #333; }
  .cases h2 {
    font-weight: bold; }
  .cases h3 {
    font-weight: bold; }
  .cases h2 {
    font-size: 14px; }
  .cases p {
    font-size: 12.6px;
    color: #6a6a6a;
    font-weight: 300; }
  .cases h2,
  .cases p {
    text-align: left; }

.cases--image {
  width: 900px; }

.wr img {
  margin-bottom: 0;
  padding-bottom: 0; }

.pp2 {
  display: none; }

@-webkit-keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.fadeOut {
  opacity: 0;
  -moz-animation: fadeout 1s linear;
  -webkit-animation: fadeout 1s linear;
  animation: fadeout 1s linear; }

.fadeIn {
  transition: all 1s ease-in-out;
  display: block; }

@media screen and (max-width: 1100px) {
  body {
    zoom: 0.6;
    -moz-transform: scale(-2);
    -moz-transform-origin: 0 0; } }
@media screen and (max-width: 1300px) {
  body {
    zoom: 0.8;
    -moz-transform: scale(-2);
    -moz-transform-origin: 0 0; } }



/*# sourceMappingURL=estilo.css.map */