@import "var-func.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Quicksand');
body {
	font-size: 10px;
	font-family: 'Lato';
	backgroud: #272935;
}

.sidebar {
	margin-top: 15vh;
	margin-left: 15vh;
	padding-top: 0px!important;
	border-right: 1px solid #ddd;
	padding-right: -20%;
	height: 50vh;
	font-family: 'Quicksand';
	.autor {
		font-size: $var-1*2.2;
		letter-spacing: -1.5pt;
		font-weight: 300;
		color: $cor-1;
		margin-bottom: -5px;
	}
	.autor__profissao {
		font-size: $var-1*1.5;
		font-weight: 300;
		color: $cor-1;
		margin-bottom: 10px;
	}
	.menu {
		li {
			font-size: $var-2*2.3;
			font-weight: 300;
			letter-spacing: -0.75px;
			color: $cor-2;
		}
		.active {
			color: $cor-2;
			border-bottom: 1px solid #eee;
		}
		a {
			color: $cor-1;
			transition: all .5s ease-in-out;
		}
		a:hover {
			color: $cor-3;
		}
	}
}

.projetos {
	font-family: 'Quicksand';
	margin-top: 15vh;
	padding-top: 0px!important;
	margin-left: 8vh;
	h1 {
		font-size: $var-1*2;
		font-weight: 300;
		color: $cor-1;
	}
	.btn {
		font-family: 'Quicksand';
		margin-top: 15px;
		width: 100px;
		height: 35px;
		background: none;
		border: none;
		-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.36);
		-moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.36);
		box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.36);
		margin-right: 5px;
		margin-left: 2px;
		color: $cor-1;
		font-size: $var-2*1.7;
		text-transform: uppercase;
		transition: all .3s ease-in-out;
	}
	.btn:hover {
		cursor: pointer;
		background: #fafafa;
		color: $cor-2;
	}
	.btn--ativo {
		background: #555!important;
		color: $cor-7!important;
	}
	.btn:focus {
		outline: #333;
	}
}

.projetos__thumb {
	margin-top: 30px;
	margin-left: 0;
	clear: both;
	img {
		width: 327.5px;
		height: 160px;
		float: left;
		margin-right: 20px;
	}
}

.projetos__thumb:hover img {
	cursor: pointer;
}

.projetos__conteudo {
	margin-bottom: 3%;
	h2 {
		font-size: $var-1*1.6;
	}
	p {
		font-family: 'Lato';
		font-size: $var-2*2.1;
		color: $cor-1;
		font-weight: 300;
	}
}

.projetos--link {
	color: $cor-2;
	transition: all .5s ease-in-out;
}

.projetos--link:hover {
	color: $cor-5;
}

.projetos__pagina--lista li {
	display: inline;
	padding-right: 20px;
	float: left;
	cursor: pointer;
	top: 70!important;
}

.cases {
	h2 {
		font-weight: bold;
	}
	h3 {
		font-weight: bold;
	}
}

.cases--image {
	width: 800px;
}