@import "var-func.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import 'https://fonts.googleapis.com/css?family=Lato:700,400|Karla:400';
@import url('https://fonts.googleapis.com/css?family=Quicksand');
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}

body {
	a {
		color: $cor-1;
		transition: all .5s ease-in-out;
	}
	a:hover {
		color: $cor-3;
	}
	h1,h2 {
		font-family: "Lato", sans-serif;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.20;
		opacity: 1.00;
		margin-top: 30px;
		margin-bottom: 5px;
		letter-spacing: -0.72px;
		word-spacing: 0.00px;
		text-transform: none;
	}
	h3 {
		font-family: "Lato", sans-serif;
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1.20;
		opacity: 1.00;
		margin-top: 30px;
		margin-bottom: 5px;
		letter-spacing: -0.72px;
		word-spacing: 0.00px;
		text-transform: none;
	}
	p {
		font-family: "Quicksand", sans-serif;
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1.60;
		opacity: 0.80;
		margin-top: 0px;
		margin-bottom: 25px;
		letter-spacing: -0.30px;
		word-spacing: -0.10px;
		text-transform: none;
	}
	li {
		font-family: "Quicksand", sans-serif;
		font-size: 1.2rem;
		font-weight: 500;
		line-height: 1.60;
		opacity: 0.70;
		margin-top: 0px;
		margin-bottom: 0px;
		letter-spacing: -0.30px;
		word-spacing: -0.10px;
		text-transform: none;
	}
}

.posts--resume--conhecimento {
	font-family: "Lato", sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.20;
}

#particle-canvas {
	z-index: -1!important;
}

section {
	z-index: 2;
}

.nav {
	font-size: 1.2em;
	position: fixed !important;
	top: 0;
	left: 0;
	right: 0;
	.titulo--nav {
		font-size: $var-1*1.5;
	} // Itens da Nav
	.nav-item a.is-tab:hover,
	a.nav-item.is-tab:hover {
		border-bottom-color: $cor-2!important;
		border-top-color: transparent;
	}
	.nav-item a.is-tab,
	a.nav-item.is-tab {
		border-bottom: 1px solid #eee!important;
	}
}

.projetos {
	margin-top: 120px;
	.header {
		font-size: 1.8em!important;
		color: #555;
	}
	.header--profissao {
		margin-top: 0px;
		font-size: $var-1*2;
		color: $cor-2;
		font-weight: 500;
	}
	.header--descricao {
		margin-top: 10px;
		font-size: $var-1*1.6;
		color: $cor-1;
		font-weight: 300;
	}
	.header--projeto {
		margin-top: 40px;
		font-size: $var-1*2.8;
		color: $cor-2;
	}
	.projetos__imagem img {
		margin: 15px 15px 0 15px;
		height: 346px;
		border-bottom: 1px solid transparent;
		transition: 0.5s ease;
		white-space: nowrap;
		z-index: 5;
	}
	.projetos__imagem img:hover {
		cursor: pointer;
		border-bottom: 1px solid $cor-1;
	}
	.projetos--link {
		color: $cor-2;
		transition: all .5s ease-in-out;
	}
	.projetos__pagina {
		transition: all 1s ease-in-out;
	}
	.projetos--link:hover {
		color: $cor-5;
	}
	.projetos__pagina--lista {
		ul {
			position: absolute;
		}
		li {
			display: inline;
			padding-right: 20px;
			float: left;
			cursor: pointer;
			color: $cor-1;
			bottom: 0;
		}
	}
}

.projeto--img {
	width: 345px;
	height: 346px;
}

.posts {
	margin-top: 80px!important;
	padding-right: 5%!important;
	padding-left: 5%!important;
	.posts--titulo {
		margin-top: 0;
		text-align: center;
		font-size: 2.4rem;
		margin: 1em 0 0;
		padding-bottom: .1em;
	}
	.posts--btn {
		text-align: center;
		width: 100px;
		height: 35px;
		margin: 0 auto;
		margin-top: 20px;
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.36);
		-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.36);
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.36);
		border-bottom: 1px solid #ddd;
	}
	.posts--meta {
		text-align: center;
		font-size: 1.2rem;
		color: $cor-1;
		margin-bottom: 20px;
		margin-top: 0;
	}
	.posts--conteudo {
		text-align: left;
		a {
			border-bottom: 1px solid #ddd;
		}
	} // Pagina Resume
	.posts--resume {
		font-size: 1.1rem;
		text-align: left;
		a {
			border-bottom: 1px solid #ddd;
		}
	}
	.resume--btn {
		background: none;
		color: #777;
		margin-top: 0;
	} // Blog
	.posts--blog li a {
		font-family: 'EB Garamond';
		color: #232;
		font-weight: 400;
		font-size: 1.3em;
		transition: none;
		&:hover {
			color: #A2B4Ba;
		}
	}
	.posts--titulo--alt {
		font-weight: 300;
		font-size: 2.2em;
		font-family: 'Lato';
	}
	.posts--data {
		font-size: 0.9em;
	}
	.posts--imagem {
		width: 100%;
	}
}

.icon {
	height: 15px!important;
	color: #666;
}

#particles-js {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -10;
	top: 0;
	left: 0
}

#particles-js canvas {
	display: block;
	vertical-align: bottom;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	-webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
	transition: opacity .8s ease, transform 1.4s ease
}

.btn {
	margin-bottom: 30px;
	margin-top: 40px;
	margin-right: 5px;
	margin-left: 2px;
	width: 120px;
	height: 45px;
	background: none;
	border: 1px solid #ddd;
	color: $cor-1;
	font-size: $var-2*2.3;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
	&:hover {
		cursor: pointer;
		background: #555!important;
		color: $cor-7!important;
	}
	&:focus {
		outline: #333;
	}
}

.btn--ativo {
	background: #555!important;
	color: $cor-7!important;
}

.paginas--footer {
	font-size: $var-1*1.5;
	color: $cor-2;
	display: inline-block;
}

.wr img {
	margin-bottom: 0;
	padding-bottom: 0;
}

@-webkit-keyframes fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@media screen and (max-width: 1100px) {
	.container {
		width: 95vmin;
	}
	body {
		font-size: 1.4em;
		zoom: 1;
		-moz-transform: scale(0.8);
		-moz-transform-origin: 0 0;
	}
	.is-tab {
		font-size: 1.1em!important;
		margin-left: 0;
		margin-right: -4px;
	}
	.header {
		font-size: 1.8em!important;
		color: $cor-3;
	}
	.header--profissao {
		margin-top: 0px;
		font-size: $var-1*2.5!important;
		color: $cor-2;
		font-weight: 500;
	}
	.header--descricao {
		margin-top: 10px;
		font-size: $var-1*2.2!important;
		color: $cor-1;
		font-weight: 300;
	}
	.posts--btn {
		width: 100px!important;
		z-index: 2;
		font-size: $var-2*2.5;
	}
	a {
		z-index: 43934;
	}
	#particle-canvas>div:nth-child(2) {
		z-index: -1;
	}
	.btn--logo,
	.btn--web,
	.btn--js {
		display: none
	}
}

@media screen and (max-width: 1300px) {}

#particle-canvas>canvas {
	z-index: -1!important;
}

#particle-canvas>div:nth-child(2) {
	z-index: -1;
}

.centralizar {
	display: block;
	margin: 0 auto;
}